<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      {{heroe?.name}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="heroe">
  <ion-img [src]="imgHeroe"></ion-img>
  <h2>Otra información</h2>
  <ion-list>
    <ion-item>
      <ion-label>Cantidad comic Disponibles</ion-label>
      <!-- <ion-note>{{heroe?.comics.available}}</ion-note> -->
      <ion-chip [outline]="true">{{heroe?.comics.available}}</ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Cantidad series Disponibles</ion-label>
      <ion-chip [outline]="true">{{heroe?.series.available}}</ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Cantidad stories Disponibles</ion-label>
      <ion-chip [outline]="true">{{heroe?.stories.available}}</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
